extends layout
block content
	header
		aside.logo
			span.corpoSocialHead
				a.tagCentralizar
				a.iconSocial.headFace(href="https://www.facebook.com/odontoplace/?ref=page_internal"  target="_blank")
				a.iconSocial.headGoog(href="https://plus.google.com/108110084413160699721"  target="_blank")
				a.iconSocial.headInst(href="https://www.instagram.com/odontoplace/"  target="_blank")
		aside.boxslider
			ul.slides
				li
					img(src="./images/header/slider/slider01odontoplace.png")
				li
					img(src="./images/header/slider/slider02odontoplace.png")
				li
					img(src="./images/header/slider/slider03odontoplace.png")
				li
					img(src="./images/header/slider/slider04odontoplace.png")