div.rodape
	footer.RedeSocial
		aside
			h2 Siga nossas rede sociais
		section
			a(href="https://www.facebook.com/odontoplace/?ref=page_internal"  target="_blank")
				div.bolRed.ico-face
			a(href="https://plus.google.com/108110084413160699721"  target="_blank")
				div.bolRed.ico-insta
			a(href="https://www.instagram.com/odontoplace/"  target="_blank")
				div.bolRed.ico-goo
			